:root {
  --background-bg-gray: #212529;
  --background-bg-purple: #30003d;
  --background-tarjeta: rgba(238, 209, 255, 0.26);
  --text-primary: rgb(255, 255, 255);
  --text-secundary:
}

body {
  margin: 0;
  padding: 0;
  background: lightblue;
}
nav {
  background-color: var(--background-bg-purple);
}
header {
  background-image: url(.././img/14350825_5473791.jpg);
  background-position: center;
  background-size: cover;
  aspect-ratio: 2 /1;
}
header img {
  filter: drop-shadow(0 0 1rem rgb(162, 0, 255)) !important;
  object-fit: cover !important;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--background-bg-purple);
}
.logo {
  width: 30%;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.offcanvas {
  background-color: var(--background-bg-purple);
  padding: 0px 10px;
}
.offcanvas-header {
  padding: 10px 0px !important;
  margin: 0 !important;
}
main section:nth-child(1) > figure img {
  width: auto;
  height: 200px;
}
.fondo{
  background-color: var(--background-tarjeta);
}
pre {
  width: 80%;
}
pre code {
  font-size: 1rem;
}

/*-------Vista tablet--------*/
@media (min-width: 576px) and (max-width: 992px){
  .navbar-brand {
    margin: 0 auto;
    align-items: middle;
    width: 50%;
  }
  .offcanvas {
    justify-content: center;
  }
  .offcanvas-body {
    justify-content: flex-end;
  }
  .logo {
    width: 20%;
  }
  main {
    max-width: 80%;
  }
  main section:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main section:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  main section:nth-child(2) > div:nth-child(4) {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .logo {
    width: 20%;
  }
  main{
    width: 1100px !important;
  }
  .por-astro{
    display: flex !important;
    flex-direction: column;
  }
  .contenedor-astro{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    width: 100% !important;
    gap: 10%;
  }
  .contenedor-astro > div{
    width: calc(50% - 5%) !important;
  }
  .contenedor-astro > div:nth-child(3){
    width: 100% !important;
    margin-top: 50px !important;
  }
}