*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color-principal: #13073f;
    --background-color-secundario: #3726A6;
    --color-secundario: #E15EF2;
    --color-terciario: #04D9C4;
    --text-color-principal: #f2f2f2;
    --text-color-secundario: #D98841;
}

body{
    margin: 0 auto;
    padding: 0;
    max-width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color-principal);
    color: var(--text-color-principal);
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, var(--background-color-principal), rgba(0, 0, 0, 0.2)),
              url("../img/14350825_5473791.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    justify-content: center;
    align-items: center;
}
header img {
    width: auto;
    height: 200px;
  filter: drop-shadow(0 0 15px var(--color-secundario));
}
header h1{
    font-size: 4rem;
}
header p{
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
}
main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
main > *{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main section:nth-child(1){
    order: 2;
    width: 50%;
}
main section:nth-child(1) > figure img{
    width: auto;
    height: 700px;
}
main section:nth-child(2){
    order: 1;
    width: 50%;
}
main section:nth-child(2) h2{
    color: var(--text-color-secundario);
    text-transform: uppercase;
    font-size: 4rem;
    padding: 20px 0px;
}
main section:nth-child(2) article{
    padding: 15px 0px;
}
main section:nth-child(2) article h3{
    font-size: 2rem;
    padding: 5px 0px;
}
main aside, section:nth-child(3){
    width: 100%;
}
main aside{
    order: 3;
}
main aside h4{
    color: var(--text-color-secundario);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 4rem;
    padding: 20px 0px;
}
main aside ul{
    list-style: none;
    text-align: center;
}
main aside ul li{
    font-size: 1.5rem;
}
main section:nth-child(4){
    order: 4;
    width: 100%;
    text-align: center;
}
main section:nth-child(4) h2{
    color: var(--text-color-secundario);
    font-size: 4rem;
    margin-bottom: 20px;
}
main section:nth-child(4) pre{
    width: 60%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    font-size: 1.5rem;
    line-height: 1.5;
}
main section:nth-child(4) p{
    font-size: 1.5rem;
}

figcaption{
    display: none;
}
footer{
    text-align: center;
}
