body {
  margin: 0;
  padding: 0;
  background: lightblue;
}
h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: red;
  }
main section:nth-child(1) > figure img {
  width: auto;
  height: 200px;
}
pre{
    width: 80%;
}
pre code {
  font-size: 1rem;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  main {
    max-width: 80%;
  }
  main section:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main section:nth-child(2) > div{
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  main section:nth-child(2) > div:nth-child(4){
    width: 100%;
  }
}
@media (min-width: 1200px) {
  pre {
    width: 80%;
  }
  main {
    width: 900px;
  }
  main section:nth-child(1) > figure img {
    margin: 0 auto;
    width: 400px;
    height: 300px;
    display: block;
  }
}

